#####################
# Python Cache File #
#####################
__pycache__/
*.pyc

############
# Intellij #
############
.idea/

#################
# Visual Studio #
#################
.vs/
*.pyproj.user

###########
# VS Code #
###########
.vscode/

##################
# Qt Compilation #
##################
ui_*.py
rc_*.py